In [2]:
import pandas as pd

In [3]:
weather = pd.read_csv('data//Los_Angels.csv', index_col="DATE")
weather

,STATION,NAME,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,SNWD,...,WT02,WT03,WT05,WT07,WT08,WT09,WT13,WT16,WT18,WT19
DATE,,,,,,,,,,,,,,,,,,,,,
1960-01-01,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-02,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1960-01-03,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1960-01-04,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1960-01-05,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-28,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-05-29,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-05-30,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-05-31,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,2.01,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-06-01,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
weather.loc['2025-01-01':'2025-05-31']

,STATION,NAME,ACSH,AWND,FMTM,PGTM,PRCP,PSUN,SNOW,SNWD,...,WT02,WT03,WT05,WT07,WT08,WT09,WT13,WT16,WT18,WT19
DATE,,,,,,,,,,,,,,,,,,,,,
2025-01-01,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-02,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-03,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-04,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-01-05,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-27,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-05-28,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-05-29,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-05-30,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-05-31,USW00093134,"LOS ANGELES DOWNTOWN USC, CA US",NaN,2.01,NaN,NaN,0.0,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
weather.apply(pd.isnull).sum() / weather.shape[0]

STATION    0.000000
NAME       0.000000
ACSH       0.803842
AWND       0.614464
FMTM       0.811543
PGTM       0.814054
PRCP       0.000084
PSUN       0.812840
SNOW       0.617812
SNWD       0.609191
TAVG       0.888591
TMAX       0.000000
TMIN       0.000042
TSUN       0.767850
WDF2       0.609316
WDF5       0.614296
WDFG       0.994936
WDFM       0.805432
WESD       0.999540
WSF2       0.608772
WSF5       0.613250
WSFG       0.994936
WSFM       0.805432
WT01       0.859714
WT02       0.992132
WT03       0.999121
WT05       0.995354
WT07       0.980665
WT08       0.765673
WT09       0.999163
WT13       0.917971
WT16       0.963715
WT18       0.999874
WT19       0.999958
dtype: float64

### The core values according to the documentation are:

- PRCP = Precipitation (mm or inches as per user preference, inches to hundredths on Daily Form pdf file)
- SNOW = Snowfall (mm or inches as per user preference, inches to tenths on Daily Form pdf file)
- SNWD = Snow depth (mm or inches as per user preference, inches on Daily Form pdf file)
- TMAX = Maximum temperature (Fahrenheit or Celsius as per user preference, Fahrenheit to tenths on
Daily Form pdf file
- TMIN = Minimum temperature (Fahrenheit or Celsius as per user preference, Fahrenheit to tenths on
Daily Form pdf file

In [8]:
core_weather = weather[['PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN']].copy()

In [10]:
core_weather.columns = ['precip', 'neve', 'prof_neve', 'temp_max', 'temp_min']
# precip é a precipitação
# prof_neve é a profundidade da neve
core_weather

            precip  neve  prof_neve  temp_max  temp_min
DATE
1960-01-01     0.0   0.0        0.0        53      42.0
1960-01-02     0.0   0.0        0.0        56      38.0
1960-01-03     0.0   0.0        0.0        54      38.0
1960-01-04     0.0   0.0        0.0        60      39.0
1960-01-05     0.0   0.0        0.0        63      41.0
...            ...   ...        ...       ...       ...
2025-05-28     0.0   NaN        0.0        72      61.0
2025-05-29     0.0   NaN        0.0        74      60.0
2025-05-30     0.0   NaN        0.0        96      59.0
2025-05-31     0.0   NaN        0.0        91      60.0
2025-06-01     0.0   NaN        0.0        84      62.0

[23894 rows x 5 columns]

In [ ]:
"""Missing Values"""